@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

*, *:before, *:after {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

// disable text selection
body, html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container {
	padding: 20px; // remove this later;
}

.blocker {
	background-color: rgba(0,0,0,0.8);
	position: absolute;
	top: 0; 
	right: 0; 
	left: 0; 
	bottom: 0;
}


// Import other modules here
@import './variables.less';
@import './table-admin.less';