

.nav {
	position: fixed;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 125px;
	background: #273E47;
	font-family: @fontStack;

	ul {
		list-style: none;
		padding: 0;
		li {
			width: 100%;
			text-align: center;
			padding: 0 10px;

			&.logout {
				position: absolute;
				bottom: 20px;
				a {
					color: lighten( #273E47, 20% );
					transition: color .2s ease-out;

					&:hover {
						color: lighten( #273E47, 30% );
						transition: color .2s ease-out;
					}
				}
			}

			img {
				max-width: 100px;
				width: 100%;
				-webkit-clip-path: circle();
				clip-path: circle();
			}

			a {
				color: #fff;
				text-decoration: none;
				display: block;
				margin-top: 10px;
				width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			&:after {
				content: "\f141";
				font-family: "FontAwesome";
				font-size: 50px;
				color: lighten( #273E47, 20% );
			}
		}
	}
}