.tableAdmin {
	border: 1px solid @borderColor;
	border-radius: 4px;
	font-family: @fontStack;
	i.fa {
		float: right;
		line-height: 1.5;
	}	
}

.tableHeader {
	position: relative;
	border-bottom: 1px solid @borderColor;

	input[type="search"] {
		width: 50%;
		padding: 20px;
		border: 1px solid transparent;
		font-family: @fontStack;
		font-weight: 300;
		font-size: 20px;	
	
		&:active, &:focus {
			outline: none;
		}
	}
	input[type="search"]::-webkit-search-decoration,
	input[type="search"]::-webkit-search-cancel-button,
	input[type="search"]::-webkit-search-results-button,
	input[type="search"]::-webkit-search-results-decoration {
	  display: none;
	}
	.create {
	  	float: right;
	  	margin: 10px;
	  	border-radius: 50%;
	  	position: relative;
	  	background-color: @red;
	  	color: #fff;
	  	padding: 10px 17px;
	  	line-height: 1.5;
	  	cursor: pointer;
	  	transition: background-color .2s ease-out;

	  	&.accounts {
			&:hover {
				&:after {
					content: "\f007";
				}
			}
	  	}

	  	&:hover {
	  		background-color: darken(@red, 20%);
	  		transition: background-color .2s ease-out;

	  		&:after {
	  			-webkit-transform: rotate( 360deg );
	  			transition: all .2s ease-out;
	  		}
	  	}
	  	&:after {
	  		font-family: "FontAwesome";
	  		content: "\f067";
	  		-webkit-transform: rotate( 0deg );
	  		transition: all .2s ease-out;
	  	}
	}
}

.tableGrid {
	.tableGridHeaderRow {
		.tableGridHeaderCell {
			display: inline-block;
			max-width: 200px;
			width: 100%;
			padding: 10px 20px;
		}
	}
}


.tableGridBody {
	.tableGridRow {
		.tableGridCell {
			display: inline-block;
			max-width: 200px;
			width: 100%;
			white-space: nowrap; 
			overflow: hidden; 
			text-overflow: ellipsis;
			padding: 10px 20px;
		}
	}
}


.tableForm { 
 	position: fixed; 
 	top: 0; 
 	right: 0; 
 	bottom: 0;
 	left: 0;
 	background-color: rgba( 0, 0, 0, 0.8 );

 	form { 
 		position: absolute;
 		top: 10%; 
 		right: 5%;
 		bottom: 10%; 
 		left: 5%;
 		background-color: white;
 		padding: 1em 1em 60px 1em;
 		z-index: 1000; overflow-y: scroll;
 		animation: formIn .2s; -webkit-animation: formIn .2s;
 	}
	fieldset { 
		position: relative;
		width: 100%;
	  	border-radius: 4px;
	  	border: 1px solid @borderColor;
	  	margin-bottom: 1em;

	  	.tableFormEditorText {
	  		padding: 10px;
	  	}

		legend { 
			width: 100px;
			position: absolute;
			top: 0; bottom: 0; left: 0px;
			background-color: @borderColor;
			z-index: 500;
			text-indent: 10px;
			line-height: 34px;			
		}

		input[type="text"], input[type="password"] {
			position: absolute; top: 0; left: 0; bottom: 0; right: 0;
		  	width: 100%;
		  	font-size: 16px;
		  	padding: 10px;
		  	outline: none;
		  	padding-left: 110px;
		  	border: none;
		}

		&.email {
			input[type="text"] {

			}
		}
	}

	.error { 
		font-weight: bold; 
		position: absolute; 
		top: -3px; 
		right: 0.5em; 
		font-size: 16px; 
		z-index: 100; 
		background-color: maroon;
		color: white; 
		padding: 0 0.5em; 
		border-radius: 3px; 
		max-width: 50%;
	}
	.cancel, .submit { 
		padding: 5px 30px;
		border-radius: 4px;
		font-size: 17px; 
		cursor: pointer;
		z-index: 500;
		color: #fff;

		&:hover {

		}
	}
	.cancel { 
		background-color: #FF4136;
		float: left;
		
	}	
	.submit { 
		background-color: #0074D9;
		float: right;
	}

}
