<!DOCTYPE html>
<title>Login to Meerkats Admin</title>
<!-- build:css -->
<link rel="stylesheet" href="/css/index.css">
<!-- endbuild -->

<!-- build:js -->
<script src="/js/config.js"></script>
<script src="/js/helpers.js"></script>
<script src="/js/api.js"></script>
<script src='/jsx/table_editors.jsx' type="text/jsx"></script>
<script src='/jsx/table_admin.jsx' type="text/jsx"></script>
<script src='/jsx/tab_stack.jsx' type="text/jsx"></script>
<!-- endbuild -->

<div class="nav">
    <ul>
        <li>
            <img src="http://lorempixel.com/people/100/100" alt="profile">
            <h4 class='screen_name'>Logging in..</h4>
        </li>        
    </ul>
</div>



<div id='container'>
    
   <a href="http://localhost:4444/auth/twitter">Log in with twitter</a>
   
</div>




