@import url(//cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css);
@import url(//fonts.googleapis.com/css?family=Pragati+Narrow:400,700);
@import url(//fonts.googleapis.com/css?family=Share+Tech+Mono);
@import url(//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

/* default font */
body, html {
	font-family: 'Open Sans Condensed', sans;
	font-size: 16px;
	line-height: 1.4;
	color: #333;
}

/* border-box by default */
html { box-sizing: border-box;}
*, *:before, *:after { box-sizing: inherit; }

/* no text select */
html { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

/* TableGrid */
.tableGrid {}
.tableGrid table { width: 100%; }    
.tableGrid td { padding: 3px 6px; border-bottom: 1px solid #ddd; border-left: 1px dotted black; cursor: pointer; }
.tableGrid thead td { color: white; background-color: #333; font-weight: 600; font-family: 'Pragati Narrow', sans; position: relative; border-left: 1px solid black;}
.tableGrid tbody tr:hover td { background-color: #666; color: white; }

/* TableGrid - sorting icons */
.tableGrid thead td i { position: absolute; right: 5px; top: 5px; }

/* TableGrid - id columns */
.tableGrid td.id { text-align: center;  width: 220px; }
.tableGrid thead td.id { background-color: #666; text-transform: uppercase;  }
.tableGrid tbody td.id { font-size: 14px; color: #666; background-color: #eee; }
.tableGrid tbody tr:hover td.id { background-color: #333; color: white; }

/* TableHeader */
.tableHeader { background-color: black; color: white; line-height: 35px; }
.tableHeader i { margin: 0 0.4em;  }
.tableHeader label { font-weight: bold; font-size: 18px; padding: 5px 0px; }
.tableHeader input { float: right; margin: 5px 5px; background-color: #333; border-radius: 10px; border: 0px none; padding: 5px 10px; outline: none; color: white; }


/* TableAdmin */
.tableAdmin { position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; }
.tableAdmin .tableGrid table { position: absolute; top: 35px; left: 0px; right: 0px; bottom: 0px;  }










