@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body,
html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container {
  padding: 20px;
}
.blocker {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
@-webkit-keyframes formIn {
  0% {
    opacity: 0;
    transform: scale(0.1);
    -webkit-transform: scale(0.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@keyframes formIn {
  0% {
    opacity: 0;
    transform: scale(0.1);
    -webkit-transform: scale(0.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
.tableAdmin {
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  font-family: 'Lato', Helvetica, sans-serif;
}
.tableAdmin i.fa {
  float: right;
  line-height: 1.5;
}
.tableHeader {
  position: relative;
  border-bottom: 1px solid #dcdcdc;
}
.tableHeader input[type="search"] {
  width: 50%;
  padding: 20px;
  border: 1px solid transparent;
  font-family: 'Lato', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 20px;
}
.tableHeader input[type="search"]:active,
.tableHeader input[type="search"]:focus {
  outline: none;
}
.tableHeader input[type="search"]::-webkit-search-decoration,
.tableHeader input[type="search"]::-webkit-search-cancel-button,
.tableHeader input[type="search"]::-webkit-search-results-button,
.tableHeader input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
.tableHeader .create {
  float: right;
  margin: 10px;
  border-radius: 50%;
  position: relative;
  background-color: #ff5140;
  color: #fff;
  padding: 10px 17px;
  line-height: 1.5;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
}
.tableHeader .create.accounts:hover:after {
  content: "\f007";
}
.tableHeader .create:hover {
  background-color: #d91300;
  transition: background-color 0.2s ease-out;
}
.tableHeader .create:hover:after {
  -webkit-transform: rotate(360deg);
  transition: all 0.2s ease-out;
}
.tableHeader .create:after {
  font-family: "FontAwesome";
  content: "\f067";
  -webkit-transform: rotate(0deg);
  transition: all 0.2s ease-out;
}
.tableGrid .tableGridHeaderRow {
  cursor: pointer;
}
.tableGrid .tableGridHeaderRow .tableGridHeaderCell {
  display: inline-block;
  max-width: 200px;
  width: 100%;
  padding: 10px 20px;
}
@media (max-width: 768px) {
  .tableGrid .tableGridHeaderRow .tableGridHeaderCell {
    display: block;
    max-width: 100%;
  }
}
.tableGridBody .tableGridRow {
  cursor: pointer;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.tableGridBody .tableGridRow .tableGridCell {
  display: inline-block;
  max-width: 200px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px 20px;
}
@media (max-width: 768px) {
  .tableGridBody .tableGridRow .tableGridCell {
    display: block;
    max-width: 100%;
  }
}
.tableGridBody .tableGridRow.alt {
  background-color: #f9f9f9;
}
.tableGridBody .tableGridRow:hover {
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
}
.tableForm {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.tableForm form {
  position: absolute;
  top: 10%;
  right: 5%;
  bottom: 10%;
  left: 5%;
  background-color: white;
  padding: 1em 1em 60px 1em;
  z-index: 1000;
  overflow-y: scroll;
  animation: formIn .2s;
  -webkit-animation: formIn .2s;
}
.tableForm fieldset {
  position: relative;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #dcdcdc;
  margin-bottom: 1em;
}
.tableForm fieldset .tableFormEditorText {
  padding: 10px;
}
.tableForm fieldset legend {
  width: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  background-color: #dcdcdc;
  z-index: 500;
  text-indent: 10px;
  line-height: 34px;
}
.tableForm fieldset input[type="text"],
.tableForm fieldset input[type="password"] {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  font-size: 16px;
  padding: 10px;
  outline: none;
  padding-left: 110px;
  border: none;
}
.tableForm .error {
  font-weight: bold;
  position: absolute;
  top: -3px;
  right: 0.5em;
  font-size: 16px;
  z-index: 100;
  background-color: maroon;
  color: white;
  padding: 0 0.5em;
  border-radius: 3px;
  max-width: 50%;
}
.tableForm .cancel,
.tableForm .submit {
  padding: 5px 30px;
  border-radius: 4px;
  font-size: 17px;
  cursor: pointer;
  z-index: 500;
  color: #fff;
}
.tableForm .cancel {
  background-color: #FF4136;
  float: left;
}
.tableForm .submit {
  background-color: #0074D9;
  float: right;
}
.tabStack .tabLabel {
  font-family: 'Lato', Helvetica, sans-serif;
  line-height: 1.6;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  display: inline-block;
  min-width: 200px;
  padding: 1em;
  cursor: pointer;
}
.tabStack .tabLabel.selected {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
